.quizResult {
    z-index: 4;
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    top: 0%;
    left: 0%;
    background: white;
    width: 100vw;
    height: 100vh;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

#score {
    width: calc(100vw - 2rem);
    max-width: 768px;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid var(--color-secondary);
    border-radius: 0.5rem;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    > p {
        font-weight: 500;
        color: var(--color-primary);
        text-align: center;
        background-color: var(--color-secondary);
        color: #ffffff;
        padding: 1rem;
        border-radius: 0.5rem;
        position: relative;
        top: -3rem;
    }

    @media (min-width: 768px) {
        margin: 0 auto;
    }
}

table#quizResultBoard {
    width: 100%;
    border-radius: 0.5rem;
    border-collapse: collapse;
    border: 1px solid var(--color-primary);
}

th,
td {
    border: 1px solid var(--color-primary);
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: var(--color-secondary);
    text-align: center;
    color: #ffffff;
}

.bottomDesign {
    height: 100px;
    width: 100vw;
    background-color: var(--color-secondary-alpha);
}

.endResultNav {
    > nav {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 2rem 0;
        width: 100%;
    }
}

.correct {
    color: inherit;
}

.incorrect {
    background-color: rgb(249, 159, 159);
}

.displayNone {
    display: none;
}
