@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

:root {
    --color-primary: hsl(0, 0%, 13%);
    /* --color-primary: hsl(0, 0%, 20%); */

    --color-secondary: hsl(167, 71%, 47%);
    --color-secondary-alpha: hsl(167, 71%, 47%, 0.5);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

button:disabled {
    cursor: not-allowed;
}

.buttonPrimary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    cursor: pointer;
}

.buttonPrimary:hover {
    color: var(--color-primary);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.gradient {
    --size: 250px;
    --speed: 10s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(cyan, var(--color-secondary));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    z-index: -1;
    position: fixed;
    top: 30%;
    left: 20%;
}
.gradient2 {
    --size: 250px;
    --speed: 10s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(var(--color-secondary), rgb(0, 255, 123));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    z-index: -1;
    position: fixed;
    top: 20%;
    left: 60%;
}

@media (min-width: 720px) {
    .gradient {
        --size: 500px;
    }
}
