@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

:root {
    --color-primary: hsl(0, 0%, 13%);
    /* --color-primary: hsl(0, 0%, 20%); */

    --color-secondary: hsl(167, 71%, 47%);
    --color-secondary-alpha: hsl(167, 71%, 47%, 0.5);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* .gghh {
    width: 100vw;
    height: 100vh;
    background-color: red;
    position: fixed;
    top: 0%;
} */

/* .hero {
    background: red;
} */

.buttonPrimary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 0.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    cursor: pointer;
}

.buttonPrimary:hover {
    color: var(--color-primary);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.gradient {
    --size: 250px;
    --speed: 10s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(#37eba9, #5b37eb);
    /* background-image: linear-gradient(red, blue); */
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    z-index: -1;
    position: fixed;
    top: 25%;
    left: 30%;
}

@media (min-width: 720px) {
    .gradient {
        --size: 500px;
    }
}

/* body {
    background-color: #222;
    position: absolute;
    inset: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
} */

/* This is just to transition when you change the viewport size. */
/* * {
    transition: all 0.25s ease-out;
} */
